In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


from dwh import *

%matplotlib inline

In [2]:
%load_ext sql

In [6]:
%%sql 
SELECT * FROM staging
LIMIT 5;

 * postgresql://marta:***@localhost/planesdb
5 rows affected.

[(2019, 4, 12, 8, 7, '2019-12-08', 'WN', 19393, 'WN', 'N8651A', 3689, 15016, 1501606, 31123, 'STL', 'St. Louis, MO', 'MO', 29, 'Missouri', 64, 14679, 1467903, 33570, 'SAN', 'San Diego, CA', 'CA', 6, 'California', 91, 1110, 1107.0, -3.0, 0.0, 0.0, -1.0, '1100-1159', 10.0, 1117.0, 1330.0, 3.0, 1315, 1333.0, 18.0, 18.0, 1.0, 1.0, '1300-1359', 0.0, 'NaN', 0.0, 245.0, 266.0, 253.0, 1.0, 1557.0, 7, 0.0, 0.0, 18.0, 0.0, 0.0, nan, nan, nan, 0, nan, nan, nan, nan, 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, nan, 'NaN', '12_0'),
 (2019, 4, 12, 8, 7, '2019-12-08', 'WN', 19393, 'WN', 'N939WN', 2600, 15016, 1501606, 31123, 'STL', 'St. Louis, MO', 'MO', 29, 'Missouri', 64, 14683, 1468305, 33214, 'SAT', 'San Antonio, TX', 'TX', 48, 'Texas', 74, 1210, 1218.0, 8.0, 8.0, 0.0, 0.0, '1200-1259', 9.0, 1227.0, 1417.0, 6.0, 1435, 1423.0, -12.0, 0.0, 0.0, -1.0, '1400-1459', 0.0, 'NaN', 0.0, 145.0, 125.0, 110.0, 1.0, 786.0, 4, nan, nan, nan, nan, nan, nan, nan, nan, 0, nan, nan, nan, nan, 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, nan, 'NaN', '12_1'),
 (2019, 4, 12, 8, 7, '2019-12-08', 'WN', 19393, 'WN', 'N7741C', 2770, 15016, 1501606, 31123, 'STL', 'St. Louis, MO', 'MO', 29, 'Missouri', 64, 14683, 1468305, 33214, 'SAT', 'San Antonio, TX', 'TX', 48, 'Texas', 74, 2145, 2140.0, -5.0, 0.0, 0.0, -1.0, '2100-2159', 9.0, 2149.0, 2349.0, 2.0, 5, 2351.0, -14.0, 0.0, 0.0, -1.0, '0001-0559', 0.0, 'NaN', 0.0, 140.0, 131.0, 120.0, 1.0, 786.0, 4, nan, nan, nan, nan, nan, nan, nan, nan, 0, nan, nan, nan, nan, 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, nan, 'NaN', '12_2'),
 (2019, 4, 12, 8, 7, '2019-12-08', 'WN', 19393, 'WN', 'N550WN', 6654, 15016, 1501606, 31123, 'STL', 'St. Louis, MO', 'MO', 29, 'Missouri', 64, 14747, 1474703, 30559, 'SEA', 'Seattle, WA', 'WA', 53, 'Washington', 93, 930, 925.0, -5.0, 0.0, 0.0, -1.0, '0900-0959', 9.0, 934.0, 1133.0, 8.0, 1205, 1141.0, -24.0, 0.0, 0.0, -2.0, '1200-1259', 0.0, 'NaN', 0.0, 275.0, 256.0, 239.0, 1.0, 1709.0, 7, nan, nan, nan, nan, nan, nan, nan, nan, 0, nan, nan, nan, nan, 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, nan, 'NaN', '12_3'),
 (2019, 4, 12, 8, 7, '2019-12-08', 'WN', 19393, 'WN', 'N8319F', 3402, 15016, 1501606, 31123, 'STL', 'St. Louis, MO', 'MO', 29, 'Missouri', 64, 14771, 1477104, 32457, 'SFO', 'San Francisco, CA', 'CA', 6, 'California', 91, 1805, 1822.0, 17.0, 17.0, 1.0, 1.0, '1800-1859', 9.0, 1831.0, 2033.0, 5.0, 2035, 2038.0, 3.0, 3.0, 0.0, 0.0, '2000-2059', 0.0, 'NaN', 0.0, 270.0, 256.0, 242.0, 1.0, 1735.0, 7, nan, nan, nan, nan, nan, nan, nan, nan, 0, nan, nan, nan, nan, 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, 'NaN', 'NaN', nan, nan, nan, nan, nan, nan, nan, 'NaN', '12_4')]

In [7]:
%%sql 
SELECT * FROM flights
LIMIT 5;

 * postgresql://marta:***@localhost/planesdb
5 rows affected.

[('12_0', '2019-12-08', 'WN', 'N8651A', 3689, 15016, 14679, 0.0, 'NaN', 0.0, 0.0, 0.0, 18.0, 0.0, 0.0),
 ('12_15', '2019-12-08', 'WN', 'N484WN', 2884, 15304, 10397, 0.0, 'NaN', 0.0, 0.0, 0.0, 0.0, 0.0, 37.0),
 ('12_22', '2019-12-08', 'WN', 'N224WN', 336, 15304, 10599, 0.0, 'NaN', 0.0, 16.0, 0.0, 0.0, 0.0, 0.0),
 ('12_24', '2019-12-08', 'WN', 'N284WN', 533, 15304, 10693, 0.0, 'NaN', 0.0, 27.0, 0.0, 0.0, 0.0, 0.0),
 ('12_34', '2019-12-08', 'WN', 'N213WN', 5047, 15304, 10821, 0.0, 'NaN', 0.0, 74.0, 0.0, 9.0, 0.0, 0.0)]

In [8]:
%%sql 
SELECT * FROM sfo
LIMIT 5;

 * postgresql://marta:***@localhost/planesdb
5 rows affected.

[('12_101297', '2019-12-01', 'AA', 'N103NN', 16, 14771, 12478, 0.0, 'NaN', 0.0, 60.0, 0.0, 35.0, 0.0, 2.0),
 ('12_101298', '2019-12-02', 'AA', 'N111ZM', 16, 14771, 12478, 0.0, 'NaN', 0.0, 0.0, 0.0, 157.0, 0.0, 0.0),
 ('12_101299', '2019-12-03', 'AA', 'N112AN', 16, 14771, 12478, 0.0, 'NaN', 0.0, 3.0, 0.0, 0.0, 0.0, 24.0),
 ('12_102951', '2019-12-02', 'AA', 'N137AA', 139, 14771, 11298, 0.0, 'NaN', 0.0, 5.0, 0.0, 0.0, 0.0, 49.0),
 ('12_102955', '2019-12-06', 'AA', 'N558UW', 139, 14771, 11298, 0.0, 'NaN', 0.0, 0.0, 0.0, 0.0, 0.0, 152.0)]